/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(http://fonts.googleapis.com/css?family=Fjalla+One);
/* line 5, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* The Variabels */
/* line 9, ../sass/screen.scss */
h1, h2, h3, h4, h5 {
  font-family: 'Fjalla One', sans-serif;
  font-weight: 400;
}

/* line 22, ../sass/screen.scss */
body {
  background-color: aliceblue;
  font-family: Merriweather, 'Helvetica Neue', Arial, sans-serif;
}

/* line 26, ../sass/screen.scss */
.navbar {
  background-color: #2E3A3A;
  border: none;
}

/* line 30, ../sass/screen.scss */
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
  font-family: 'Fjalla One', sans-serif;
  color: #CE5556;
  font-weight: 400;
  font-size: 20px;
}

/* line 36, ../sass/screen.scss */
header {
  margin-top: 50px;
  position: relative;
  width: 100%;
  height: 600px;
  text-align: center;
  background-image: url(../img/intro-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  padding: 10px;
}

@media screen and (max-width: 1100px) {
  /* line 52, ../sass/screen.scss */
  header {
    height: 800px;
  }
}
@media screen and (max-width: 768px) {
  /* line 57, ../sass/screen.scss */
  header {
    height: 600px;
  }
}
@media screen and (max-width: 320px) {
  /* line 62, ../sass/screen.scss */
  header {
    height: 400px;
  }
}
/* line 66, ../sass/screen.scss */
.header-one {
  text-align: center;
}

/* line 69, ../sass/screen.scss */
.in-one {
  margin-top: 90px;
}
/* line 71, ../sass/screen.scss */
.in-one h1 {
  margin-top: 10px;
  font-family: 'Fjalla One', sans-serif;
  color: #CE5556;
  font-weight: 400;
  font-size: 80px;
  letter-spacing: -2px;
  line-height: 1;
  text-shadow: 4px 3px 0px #2E3A3A, 9px 8px 0px rgba(0, 0, 0, 0.15);
  margin: 0 0 15px;
  margin-bottom: 5px;
}
/* line 83, ../sass/screen.scss */
.in-one h4 {
  font-family: 'Fjalla One', sans-serif;
  color: #B37727;
  font-weight: 400;
  font-size: 25px;
  margin-top: 5px;
}
/* line 90, ../sass/screen.scss */
.in-one img {
  width: 270px;
}
/* line 93, ../sass/screen.scss */
.in-one a {
  color: #2E3A3A;
}

/* line 98, ../sass/screen.scss */
.btn-landing {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  background-color: transparent;
  border-width: medium;
  border-color: #FFA938;
  font-weight: bold;
  font-size: 25px;
  color: #2E3A3A;
}

/* line 107, ../sass/screen.scss */
.btn-landing:hover {
  background-color: #FFA938;
  color: #FFF;
}

/* line 111, ../sass/screen.scss */
#services {
  background-image: url(../img/section-one.jpg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  padding: 10px;
  min-height: 300px;
}

/* line 122, ../sass/screen.scss */
#about-us {
  background-image: url(../img/section-two.jpg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  padding: 10px;
  min-height: 300px;
}
